h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
}

h1, h2 {
    text-transform: uppercase;
}

.green {
    background-color: #bed630;
}

.green h1 {
    color: #ed1a33;
}

.green h2 {
    color: #bed630;
}

.red {
    background-color: #ed1a33;
}

.red h1 {
    color: #bed630;
}

.red h2 {
    color: #ed1a33;
}

.container {
    background-color: #fff;
    padding: 2rem;
}

.voucher {
    text-align: center;
}
